.Form {
  display: inline-flex;
  align-items: flex-end;
}

.Form-control {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  margin-top: 10px;
}

.Form-control:not(:first-child) {
  margin-left: 20px;
}

[class^='Form-control__'] {
  margin-top: 5px;
  padding: 10px;

  border: 1px solid #000000;
  border-radius: 5px;
}

[class*='button'] {
  margin-left: 20px;

  background-color: #ffffff;

  cursor: pointer;
}
